<!--ABOUT PAGE-->

<h1>What is PetBook?</h1>
<%= render 'layouts/header' %>

<div align="center" class="about" id="about1">
        <img src="http://kingofwallpapers.com/hedgehog/hedgehog-018.jpg" />
          <h2>Explore</h2><p>Explore new interesting and unique animals and breeds and <b>comment</b>, <b>like</b> and <b>follow</b> your favourites</p>
</div>

<div align="center" class="about" id="about2">
        <img src="http://www.statisticbrain.com/wp-content/uploads/2011/11/dog-and-owner.jpg" />
        <h2>Connect</h2><p>Connect with other pet lovers, pet owners and breeders</p>
        </div>

<div align="center" class="about" id="about3">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/db/1e/a5/db1ea55c9f5fb6d23c7e98b22c387fe6.jpg" />
        <h2>Share</h2><p>Share stories of your own pet in customizable Pet Profiles</p>
</div>

  <%= render 'layouts/footer' %>
