<%= render 'layouts/header' %>

<div align="center">
<h1>Contact Us</h1>
<h4> Do you have some thoughts in mind? We are happy to discuss with you! </h4>
<!--Picture-->
      <div
       <div align="center" id="contactpic" class="category">
               <img src="http://www.lovethispic.com/uploaded_images/53451-Cute-Dog.jpg" />
      </div>

<h4>Alex: <a href="mailto:hanyue.zhou@aalto.fi">hanyue.zhou@aalto.fi</a></h4>
<h4>Susanna: <a href="mailto:susanna.nevalainen@aalto.fi">susanna.nevalainen@aalto.fi</a></h4>
<h4>Avani: <a href="mailto:jiayao.yu@aalto.fi">jiayao.yu@aalto.fi</a></h4>
</div>

<%= render 'layouts/footer' %>
